@import 'src/assets/styles/mixins';

.message {
  margin: 0 2px;
  border-radius: 4px;
  padding: 4px;
  max-width: 80%;
  width: max-content;
  @include lg {
    max-width: 45%;
  }
  .messageContainer {
    border-radius: 8px;
    background-color: #5ae68c;
    font-size: 14px;
    padding: 0 8px;
    & > span {
      max-width: 100%;
      overflow-wrap: break-word;
    }
    @include lg {
      font-size: 22px;
    }
  }
  .alignedMessage {
    display: flex;
    justify-content: flex-end;
    background-color: #c66aff;
  }
  .alignedAuthorMessage {
    display: flex;
    justify-content: flex-end;
  }
  .author {
    display: flex;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
  }
}

.myMessage {
  align-self: flex-end;
}
