@import "src/assets/styles/variables";

.button {
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 8px;
  box-shadow: $grey;
  box-sizing: border-box;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 17px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;

  &:hover {
    &:not(:disabled) {
      background-color: #f7fafa;
      font-size: 18px;
    }
  }

  &:focus {
    &:not(:disabled) {
    border-color: $darkSea2;
    box-shadow: $grey;
    outline: 0;
    font-size: 18px;
    }
  }

  &:disabled {
    border-color: $darkSea2;
    cursor: not-allowed;
  }
}
