@import "src/assets/styles/mixins";

.messenger {
  padding: 2px 8px;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  background-color: #00a7cf;
  @include lg {
    border-radius: 0 0 16px 16px;
  }
}