$white: #FFFDFDFF;
$black: #181818FF;
$darkSea: #53b8cc;
$darkSea2: #036675;
$blue: #3300ff;
$background: #fff4e8;
$background2: #ffe9cb;
$error: #ff5a06;
$messageGuest: #5ae68c;
$messageMe: #c66aff;
$grey: #d5d9d9;
